@model IEnumerable<EX.Core.Domain.Presation>

@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.heureDeut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbHeures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prestataireFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.heureDeut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nbHeures)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prestataireFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientFK)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
